/* Default */
body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-size: 16px;
	background-color: #303841;
	color: #d8dee9;
}
h1,h2,h3,p,ol,ul,li,a {
	font-family: sans-serif;
}
h1,h2,h3 {
	font-family: sans-serif;
	color: #EDEDED;
}
h2 {
	font-size: 1.3em;
}
a {
	font-weight: bold;
	color: #EDEDED;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
a:hover {
	color: #848b95;
}
code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img {
	width: 100%;
	height: auto;
}
section.main {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}

/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 5rem 2rem;
	}
}

.fd-carousel img{
    border-radius: 10px;
    width: 50%;
  }

.circle{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  background-color: #19143a;
  border: #19143a;
}

.searchbar, #global-menu{
	display: flex;
    justify-content: flex-start;
	list-style-type: none;
}

.image-container img{
	width: 132px;
  height: 191px;
}

.headline{
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -.005em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.text5 h5{
	font-size: 16px;
}

.hyperlink a{
	color: #3185e0;
    font-size: 14px;
    font-weight: 500;
}

.hyperlink a:hover{
	text-decoration: underline;
	cursor:pointer;
}

.button button{
	background-color: #FF7300;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-size: 16px;
    -webkit-transition: background-color .3s,color .3s;
    -moz-transition: background-color .3s,color .3s;
    -ms-transition: background-color .3s,color .3s;
    transition: background-color .3s,color .3s;
    vertical-align: middle;
	width: 78px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-transform: initial;
	font-weight: bold;
}

.movie-component{
	display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.fd-movie__details{
	margin-right: 60px;
}

.hyperlink ul{
	list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.amenities{
	position: relative;
    right: 64px;
    bottom: 20px;
}

.showtimes-btn-list{
	list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    position: relative;
    right: 55px;
}

.movie-listing{
	width: 900px;
    height: 195px;
    border: 2px solid #8f8b8b;
    border-radius: 5px;
	display: flex;
}

.image-container{
	width: 430px;
    display: flex;
}

.image-container ul{
	list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 0;
    padding-left: 12px;
    padding-bottom: 50px;
}

.image-container p{
	font-size: 13px;
}

.image-container h3{
	font-family: alternate-gothic-no-1-d,'Futura Condensed','Arial Narrow',Arial,sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}