
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 93.1rem;
}.frame-2-dSB {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272525;
  width: 100%;

  .auto-group-djvs-FTZ {
    box-sizing: border-box;
    height: 5.8rem;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    padding: 0.6rem 2.3rem 0.6rem 1.8rem;
    width: 100%;
    align-items: center;
    background-color: #272525;
    flex-shrink: 0;

    .rectangle-3-fvb {
      height: 4.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 3.3rem;
      width: 17.8rem;
    }
    .frame-1-NKD {
      align-items: center;
      border-radius: 2.2rem;
      flex-shrink: 0;
      margin: 0.6rem 3.4rem 0.5rem 0rem;
      box-sizing: border-box;
      padding: 0.5rem 1.3rem 0.5rem 2.5rem;
      height: calc(100% - 1.1rem);
      display: flex;
      border: solid 0.1rem #f36627;
      background-color: #272525;

      .search-by-city-state-zip-or-movie-TLf {
        color: #d9d9d9;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 7.4rem 0.2rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .auto-group-ykub-iXV {
        flex-shrink: 0;
        width: 2.6rem;
        height: 2.5rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .movies-n1Z {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 2.4rem 0rem 0rem;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .theatres-hPR {
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 2.4rem 0rem 0rem;
      font-size: 1.2rem;
    }
    .on-demand-1Q7 {
      flex-shrink: 0;
      margin: 0.1rem 1.8rem 0rem 0rem;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-d45y-7i3 {
      width: 8.4rem;
      height: calc(100% - 1.9rem);
      line-height: 1.2125;
      color: #ffffff;
      display: flex;
      background-color: #f36627;
      border-radius: 0.5rem;
      font-size: 1.1rem;
      font-weight: 700;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      margin: 1rem 0rem 0.9rem 0rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .auto-group-tfat-uto {
    width: 100%;
    height: 44.4rem;
    position: relative;
    background: linear-gradient(306.73deg, #696969 34.7%, #f36627 34.7%, #464040 35.01%);
    flex-shrink: 0;

    .rectangle-7-2yR {
      position: absolute;
      left: 49.6rem;
      top: 8rem;
      object-fit: cover;
      vertical-align: top;
      width: 41.1705rem;
      height: 28.4rem;
    }
    .auto-group-ezat-Ywm {
      width: 35.2rem;
      height: 19.4rem;
      position: absolute;
      left: 7.4rem;
      top: 13rem;

      .get-5-off-your-argylle-ticket-TJ3 {
        white-space: nowrap;
        display: flex;
        margin-bottom: 1.1rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        line-height: 1.2125;
        align-items: baseline;

        .get-5-off-your-argylle-ticket-TJ3-sub-0 {
        }
        .get-5-off-your-argylle-ticket-TJ3-sub-1 {
          line-height: 1.2125;
          font-style: italic;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
        }
        .get-5-off-your-argylle-ticket-TJ3-sub-2 {
        }
      }
      .when-you-purchase-using-apple-pay-DK9 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .use-code-applepay-at-checkout-imh {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        line-height: 1.2125;
        font-size: 2rem;
        font-weight: 400;
        display: flex;
        margin-bottom: 1.1rem;

        .use-code-applepay-at-checkout-imh-sub-0 {
        }
        .use-code-applepay-at-checkout-imh-sub-1 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .use-code-applepay-at-checkout-imh-sub-2 {
        }
      }
      .vector-gM9 {
        object-fit: contain;
        vertical-align: top;
        margin-bottom: 2.3rem;
        width: 4.9rem;
        height: 3.3rem;
      }
      .auto-group-6tvj-cVh {
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 700;
        white-space: nowrap;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        background-color: #f36627;
        border-radius: 0.5rem;
        width: 15.5rem;
        height: 3.4rem;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .ellipse-2-U27 {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #b8a9a9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 43.7rem;
      top: 41.8rem;
    }
    .ellipse-3-9tw {
      height: 1rem;
      position: absolute;
      left: 45.3rem;
      top: 41.8rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
    }
    .ellipse-4-eqh {
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 46.9rem;
      top: 41.8rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 0.5rem;
    }
    .ellipse-5-9Gf {
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 48.5rem;
      top: 41.8rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
  }
  .auto-group-t2sm-BDM {
    display: flex;
    column-gap: 2.2rem;
    background-color: #272525;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 10.2rem 9.1rem 5.8rem;
    width: 100%;
    height: 40.3rem;
    align-items: center;

    .auto-group-w8z1-fuD {
      width: 13.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-p2uh-R7h {
        box-sizing: border-box;
        padding-bottom: 2.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .now-showing-xtK {
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 900;
          line-height: 1.2125;
          color: #f36627;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .see-all-movies-Gu1 {
          color: #1c85f4;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 900;
          line-height: 1.2125;
        }
      }
      .rectangle-11-bgP {
        margin-bottom: 1rem;
        width: 13.2rem;
        height: 17.9rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
      .mean-girls-2024-KsH {
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-sx2f-dsy {
      flex-shrink: 0;
      margin-top: 6rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .rectangle-12-nks {
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
        width: 13.2rem;
        height: 17.9rem;
      }
      .argylle-2024-72T {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-8suu-pxT {
      flex-shrink: 0;
      margin-top: 6rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .rectangle-13-aAw {
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
        width: 13.2rem;
        height: 17.9rem;
        object-fit: cover;
      }
      .godzilla-2024-Jsd {
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
      }
    }
    .auto-group-zcsv-34X {
      margin-top: 6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .rectangle-14-n27 {
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
        width: 13.2rem;
        height: 17.9rem;
      }
      .the-chosen-2024-5mu {
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
      }
    }
    .auto-group-kapd-NW7 {
      margin-top: 6rem;
      width: 15.5rem;
      flex-shrink: 0;

      .auto-group-jjvr-Hd5 {
        height: 17.9rem;
        position: relative;
        margin-bottom: 1rem;
        width: 100%;

        .rectangle-15-cQT {
          vertical-align: top;
          border-radius: 0.5rem;
          width: 13.2rem;
          height: 17.9rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
        .ellipse-6-iCb {
          width: 3.5rem;
          height: 3.2rem;
          position: absolute;
          left: 12rem;
          top: 7.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-2j5 {
          position: absolute;
          left: 13.3rem;
          top: 8.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.0694rem;
          height: 1.6825rem;
        }
      }
      .dream-world-2023-xMq {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.6rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
  }
  .auto-group-sjj9-f1M {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #474141;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.2rem 5rem 5.9rem 5.8rem;

    .theatres-near-you-NwM {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      font-size: 1.4rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #f36627;
    }
    .auto-group-7yq1-vCB {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .enter-city-state-or-zipcode-GWw {
        margin: 0.2rem 0.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #d4cdcd;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-myV {
        margin: 0rem 0.4rem 0.1rem 0rem;
        width: 0.7rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-85282-hcF {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 900;
        line-height: 1.2125;
        color: #1c85f4;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .see-more-theatres-2uR {
      margin-bottom: 3.7rem;
      font-size: 1.2rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #1c85f4;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-wzwu-NTV {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 3.8rem;
      width: 100%;
      height: 9.8rem;

      .auto-group-l2dh-tRq {
        align-items: center;
        flex-direction: column;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 5.5rem;
        padding: 1.9rem 1.4rem 2.3rem 2.5rem;
        width: 23.8rem;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        background-color: #272525;

        .auto-group-fzdd-c6w {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;

          .amc-centerpoint-11-Xzb {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .mi-xyR {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d4cdcd;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .s-mill-ave-tempe-az-85282-643 {
          margin-right: 9.8rem;
          max-width: 10.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d4cdcd;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-sspr-ZTR {
        height: 100%;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5.4rem;
        box-sizing: border-box;
        padding: 1.9rem 1.6rem 2.3rem 2.3rem;
        width: 23.8rem;
        align-items: center;
        display: flex;
        background-color: #272525;
        border-radius: 1rem;

        .auto-group-ycwv-UaP {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .majestic-tempe-7-2bu {
            flex-shrink: 0;
            margin-right: 6.6rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .mi-wTy {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d4cdcd;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .e-baseline-rd-tempe-az-85282-gRZ {
          color: #d4cdcd;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 9.2rem;
          max-width: 10.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .auto-group-3iuq-P55 {
        box-sizing: border-box;
        padding: 1.9rem 1.5rem 2.3rem 2.4rem;
        align-items: center;
        flex-direction: column;
        background-color: #272525;
        width: 23.8rem;
        height: 100%;
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;

        .auto-group-v4io-u3R {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .harkins-tempe-FNB {
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.9rem;
            font-size: 1.2rem;
          }
          .mi-zKm {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d4cdcd;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .e-rio-salado-tempe-az-85282-wF1 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d4cdcd;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 9.2rem;
          max-width: 10.7rem;
        }
      }
    }
    .auto-group-snyk-dNj {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 9.8rem;

      .auto-group-feqr-aYs {
        border-radius: 1rem;
        padding: 1.8rem 1.2rem 2rem 2.5rem;
        height: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;
        background-color: #272525;
        flex-shrink: 0;
        margin-right: 5.5rem;
        box-sizing: border-box;
        width: 23.8rem;

        .auto-group-rocx-JUs {
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 100%;
          display: flex;
          align-items: center;

          .harkins-mills-rWP {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.4rem;
          }
          .mi-zcb {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d4cdcd;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .arizona-mills-circle-tempe-az-85283-9Eb {
          max-width: 14.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d4cdcd;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 6rem;
        }
      }
      .auto-group-akrm-3as {
        align-items: center;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 23.8rem;
        height: 100%;
        padding: 1.8rem 1.5rem 1.9rem 2.3rem;
        display: flex;
        flex-direction: column;
        background-color: #272525;
        margin-right: 5.4rem;
        box-sizing: border-box;

        .auto-group-yu3m-Z3R {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          width: 100%;
          display: flex;

          .cinemark-mesa-16-7Kq {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
          }
          .mi-3UP {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d4cdcd;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .n-dobson-rd-tempe-az-85283-az7 {
          margin-right: 8.9rem;
          max-width: 11.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d4cdcd;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-fprd-VbH {
        box-sizing: border-box;
        padding: 1.8rem 1.6rem 1.9rem 2.4rem;
        display: flex;
        flex-direction: column;
        background-color: #272525;
        flex-shrink: 0;
        width: 23.8rem;
        height: 100%;
        align-items: center;
        border-radius: 1rem;

        .auto-group-ey3d-cA7 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          width: 100%;

          .amc-ahwatukee-24-ASX {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .mi-WFV {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #d4cdcd;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .east-ray-rd-tempe-az-85283-TAj {
          margin-right: 9.5rem;
          max-width: 10.3rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d4cdcd;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-b1dm-k9q {
    width: 100%;
    height: 49.7rem;
    position: relative;
    flex-shrink: 0;

    .ellipse-12-fGo {
      object-fit: contain;
      vertical-align: top;
      width: 3.5rem;
      height: 3.2rem;
      position: absolute;
      left: 86.3rem;
      top: 18.9rem;
    }
    .vector-bRM {
      top: 19.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.0694rem;
      height: 1.6825rem;
      position: absolute;
      left: 87.6rem;
    }
    .rectangle-22-vyR {
      width: 93.1rem;
      height: 49.7rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #272525;
    }
    .watch-trailers-gBu {
      position: absolute;
      left: 5.8rem;
      top: 3.2rem;
      font-size: 1.4rem;
      color: #f36627;
      width: 12.7rem;
      height: 1.7rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 900;
      line-height: 1.2125;
    }
    .rectangle-23-PMD {
      border-radius: 0.5rem;
      width: 53.1rem;
      height: 31rem;
      position: absolute;
      left: 5.8rem;
      top: 9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .ellipse-7-uqM {
      width: 5.4rem;
      height: 5.1rem;
      position: absolute;
      left: 30.7rem;
      top: 21.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-3gf {
      height: 2.3rem;
      position: absolute;
      left: 32.8rem;
      top: 23.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.6rem;
    }
    .argylle-2024-z67 {
      width: 12rem;
      position: absolute;
      font-size: 1.4rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
      left: 63.4rem;
      top: 9rem;
      font-weight: 900;
      line-height: 1.2125;
    }
    .elly-conway-an-introverted-spy-novelist-who-seldom-leaves-her-home-is-drawn-into-the-real-world-of-espionage-when-the-plots-of-her-books-get-a-little-too-close-to-the-activities-of-a-sinister-underground-syndicate-when-aiden-a-spy-shows-up-to-save-her-he-says-from-being-kidnapped-or-killed-or-both-elly-and-her-beloved-cat-alfie-are-plunged-into-a-covert-world-where-nothing-and-no-one-is-what-it-seems-6Q3 {
      height: 23.8rem;
      position: absolute;
      left: 63.4rem;
      top: 12.3rem;
      font-family: Inter, 'Source Sans Pro';
      width: 21.5rem;
      display: flex;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
    }
    .ellipse-8-2h1 {
      height: 1rem;
      position: absolute;
      left: 43.7rem;
      top: 46.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #464040;
      border-radius: 0.5rem;
      width: 1rem;
    }
    .ellipse-9-jrK {
      position: absolute;
      left: 45.3rem;
      top: 46.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
    .ellipse-10-eyH {
      height: 1rem;
      position: absolute;
      left: 46.9rem;
      top: 46.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
    }
    .ellipse-11-a6F {
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 48.5rem;
      top: 46.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
    }
    .ellipse-13-6KV {
      left: 86.3rem;
      top: 22.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.5rem;
      height: 3.2rem;
      position: absolute;
    }
    .vector-2U3 {
      top: 23.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.0694rem;
      height: 1.6825rem;
      position: absolute;
      left: 87.6rem;
    }
  }
  .auto-group-dvwq-kQ3 {
    box-sizing: border-box;
    padding: 2.6rem 3.2rem 4.85rem 3.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    flex-shrink: 0;

    .auto-group-itxh-GNP {
      margin-bottom: 1.75rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .experience-explore-1as {
        font-size: 1.2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14rem;
        display: flex;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
      }
      .editorial-features-KrT {
        font-size: 1.2rem;
        font-weight: 700;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 12.4rem;
        display: flex;
        line-height: 1.2125;
        color: #ffffff;
      }
      .videos-etj {
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 13.6rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        font-size: 1.2rem;
      }
      .photos-xeX {
        display: flex;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-f8tk-JTV {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .movies-in-theatres-F7q {
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 18.2rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .awards-watch-kqH {
        line-height: 1.2125;
        font-weight: 400;
        display: flex;
        font-size: 1.1rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 17.8rem;
      }
      .movie-trailers-HaK {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        margin-right: 10.9rem;
        display: flex;
      }
      .red-carpet-premieres-paF {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .auto-group-oqxq-9sR {
      flex-shrink: 0;
      margin-bottom: 1rem;
      width: 100%;
      display: flex;
      align-items: center;

      .movie-actors-and-actresses-hP9 {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 13.5rem;
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .indie-movie-guide-2RR {
        display: flex;
        font-size: 1.1rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 15.9rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .weekly-ticket-Yef {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        flex-shrink: 0;
        margin-right: 10.9rem;
        display: flex;
        font-size: 1.1rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .february-celebrity-birthdays-H6T {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
    .auto-group-xxfz-12T {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .mobile-Z3y {
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 24.6rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .family-guide-Hkf {
        font-family: Inter, 'Source Sans Pro';
        margin-right: 18.5rem;
        font-size: 1.1rem;
        line-height: 1.2125;
        color: #ffffff;
        display: flex;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .moms-movie-minute-DeK {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 7.6rem;
        display: flex;
        font-weight: 400;
        white-space: nowrap;
        font-size: 1.1rem;
        line-height: 1.2125;
        color: #ffffff;
      }
      .award-show-galleries-j6s {
        flex-shrink: 0;
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-nrc3-ezX {
      width: calc(100% - 48.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 48.8rem 1rem 0rem;

      .new-for-streaming-ymu {
        display: flex;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        margin-right: 18.1rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.1rem;
      }
      .house-of-screams-iUb {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.1rem;
      }
    }
    .auto-group-rbqx-3mm {
      margin-right: 52.1rem;
      width: calc(100% - 52.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .special-offers-Q6X {
        display: flex;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 20.7rem;
        font-size: 1.1rem;
        line-height: 1.2125;
        color: #ffffff;
        flex-shrink: 0;
      }
      .movie-news-7md {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .auto-group-9cqz-SZ1 {
    box-sizing: border-box;
    padding: 1.8rem 28.1rem 2rem 30.7rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-hgkv-ZtX {
      margin-bottom: 1.8rem;
      width: 100%;
      height: 1.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .refunds-exchanges-hjq {
        font-weight: 900;
        line-height: 1.2125;
        color: #f36627;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.1rem;
      }
      .auto-group-ovjd-EDy {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 0.5rem;
        height: 100%;

        .line-2-ZX9 {
          margin: 0.2rem 0.8rem 0rem 0rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #b8a9a9;
          flex-shrink: 0;
        }
        .help-HT9 {
          color: #f36627;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.6rem;
          font-size: 1.1rem;
          font-weight: 900;
          line-height: 1.2125;
        }
        .line-3-cVR {
          margin: 0.2rem 0.8rem 0rem 0rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #b8a9a9;
          flex-shrink: 0;
        }
        .my-account-9ET {
          font-size: 1.1rem;
          font-weight: 900;
          line-height: 1.2125;
          color: #f36627;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.6rem;
        }
        .line-4-gVH {
          margin: 0.2rem 0.6rem 0rem 0rem;
          width: 0rem;
          height: 0.1rem;
          background-color: #b8a9a9;
          flex-shrink: 0;
        }
        .feedback-1nT {
          flex-shrink: 0;
          font-size: 1.1rem;
          font-weight: 900;
          line-height: 1.2125;
          color: #f36627;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-bn5q-kk3 {
      background-color: #272525;
      border-radius: 0.5rem;
      width: calc(100% - 16.5rem);
      font-size: 1.2rem;
      color: #ffffff;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      height: 3.8rem;
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 8.3rem 1.3rem 8.2rem;
      align-items: center;
      border: solid 0.1rem #407fc1;
    }
    .auto-group-hjvh-PY7 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 13.1rem 0rem 13rem;
      width: calc(100% - 26.1rem);

      .vector-8Eo {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.3rem;
        width: 1.1rem;
        height: 1.1rem;
      }
      .fandango-eyq {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
