
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.landing {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272525;
}
.navbar nav{
  display: flex;
  align-items: center;
}

.landing .navbar {
  max-width: 1380px;
  box-sizing: border-box;
  padding: 0.6rem 2.3rem 0.6rem 1.8rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  background-color: #272525;
  flex-shrink: 0;
  justify-content: space-between;
}
.landing .navbar .logo {
  margin-right: 3.3rem;
  width: 17.8rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing .navbar .search {
  display: flex;
  align-items: center;
  
}
.search .searchbar {
  font-family: Inter, 'Source Sans Pro';
  margin: 0.6rem 3.4rem 0.5rem 0rem;
    padding: 1rem 1.3rem 1rem 2.5rem;
    height: calc(100% - 1.1rem);
    display: flex;
    align-items: center;
    border: solid 0.1rem #f36627;
    background-color: #272525;
    border-radius: 2.2rem;
    flex-shrink: 0;
    width: 130%;
}

.navbar a{
  font-size: 14px !important;
  cursor: pointer;
} 

input[type="text"] { 
  caret-color: rgb(249, 255, 249); 
}

.nav-left{
  display: flex;
    align-items: center;
}
.landing .navbar .search .submit {
  width: 2.6rem;
  height: 2.5rem;
  position: relative;
  right: 76px;
}

.menu i{
  color: #ffffff;
  font-size: 16px;
  display: none;

}

@media screen and (max-width:1200px) {
  .trailers{
    height: 90rem !important;
  }
  .float{
    display: none !important;
  }
  .img-content div{
    position: relative;
    bottom: 195px;
  }
  .img-content{
    height: 54rem !important;
  }

}

@media screen and (max-width:1040px) {
  .menu i{
    display: block;
  }

  .menu div{
    display: none;
  }
}

@media screen and (max-width:600px) {
  .search {
    display: none !important;
  }
  .img-content{
    height: 90rem !important;
  }
}

@media screen and (max-width:960px) {
  .near-showing{
    height: 65rem !important;
  }
  .cine1{
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-items: flex-start !important;
    }
  .cine2{
    align-items: flex-end !important;
    flex-shrink: 0 !important;
    flex-direction: column !important;
    position: relative ;
    bottom: 136px;
  }

  .b{
    margin-bottom: 20px;
  }

  .eight{
    margin-left: 0 !important;
  }

  .l{
    margin-right: 54px;
  }
}

@media screen and (max-width:770px) {
  .promo-img{
    position: sticky !important;
  }

  .discount{
    bottom: 0 !important;
    top: 4rem;
  }
  .first-line,.second-line,.third-line,.sub-1{
     font-size: 1rem !important;
  }
  .pay{
    display: none;
  }
  .now-showing{
    height: 40rem !important;
  }
  .cine2{
    display: none !important;
  }
}


.landing .navbar .movies {
  margin: 0.1rem 2.4rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .navbar .theatres {
  margin: 0.1rem 2.4rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .navbar .on-demand {
  margin: 0.1rem 1.8rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .navbar .sign-in {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  background-color: #f36627;
  border-radius: 0.5rem;
  padding: 9px;
  border: 0;
  cursor: pointer;
}
.landing .promo {
  width: 100%;
  height: 44.4rem;
  position: relative;
  background: linear-gradient(306.73deg, #696969 34.7%, #f36627 34.7%, #464040 35.01%);
  flex-shrink: 0;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}
.margin{
  margin-left: 100px;
}
.promo-img {
  width: 41.1705rem;
  height: 28.4rem;
  position: relative;
  left: 65rem;
  top: 8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.landing .promo .discount{
  width: 35.2rem;
  height: 19.4rem;
  position: relative;
  left: 12rem;
  bottom: 17rem;
}
.landing .promo .discount .first-line {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.landing .promo .discount .first-line .sub-1 {
  padding: 0 8px;
  font-style: italic;
  color: #d5a13e;
}
.landing .promo .discount .first-line .sub-2 {
  padding-left: 1px;
}
.landing .promo .discount .second-line {
  margin-bottom: 0.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing .promo .discount .third-line {
  margin: 1rem 0 1.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.landing .promo .discount .third-line .sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0 6px;
  color: deepskyblue;
}
.landing .promo .discount .pay {
  margin-bottom: 2.3rem;
  width: 4.9rem;
  height: 3.3rem;
  object-fit: contain;
  vertical-align: top;
}
.learn {
  width: 15.5rem;
  height: 3.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f36627;
  border-radius: 0.5rem;
  cursor: pointer;
}
.landing .promo .car0 {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 60.7rem;
  top: 41.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #b8a9a9;
  border-radius: 0.5rem;
}
.landing .promo .car1 {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 62.3rem;
  top: 41.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.landing .promo .car2 {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 63.9rem;
  top: 41.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.landing .promo .car3 {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 65.5rem;
  top: 41.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.landing .now-showing {
    box-sizing: border-box;
    padding: 4.8rem 10.2rem 9.1rem 10.8rem;
    max-width: 1380px;
    width: 100%;
    height: 65rem;
}
.now-showing-txt{
  margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.2125;
    color: #f36627;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.poster {
  width: 300px;
  height: 375px;
}
.poster img:hover{
  opacity: .5;
}
.post{
  display: flex;
  column-gap: 3rem;
}
.poster img{
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.poster div{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.poster h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    margin-top: 15px;
}
.contain{
  margin-right: 80px;
}
.landing .near-showing {
  box-sizing: border-box;
  padding: 3.2rem 5rem 5.9rem 10.5rem;
  max-width: 1380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #474141;
  flex-shrink: 0;
}
.landing .near-showing .theatres-near-you {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #f36627;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .pin {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .pin .enter {
  margin: 0.2rem 0.9rem 0rem 0rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .pin .vector {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 0.7rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing .near-showing .pin .code {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #1c85f4;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  top: 5px;
}
.landing .near-showing .see-more-theatres-2uR, .see-all {
  margin-bottom: 2.7rem;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #1c85f4;
  font-family: Inter, 'Source Sans Pro';
  cursor: pointer;
}
.landing .near-showing .cine1 {
  margin-bottom: 3.8rem;
  width: 100%;
  height: 9.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-l2dh-tRq {
  margin-right: 5.5rem;
  box-sizing: border-box;
  padding: 1.9rem 1.4rem 2.3rem 2.5rem;
  width: 23.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272525;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-l2dh-tRq .auto-group-fzdd-c6w {
  margin-bottom: 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-l2dh-tRq .auto-group-fzdd-c6w .amc-centerpoint-11-Xzb {
  margin-right: 5.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-l2dh-tRq .auto-group-fzdd-c6w .mi-xyR {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-l2dh-tRq .s-mill-ave-tempe-az-85282-643 {
  margin-right: 9.8rem;
  max-width: 10.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-sspr-ZTR {
  margin-right: 5.4rem;
  box-sizing: border-box;
  padding: 1.9rem 1.6rem 2.3rem 2.3rem;
  width: 23.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272525;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-sspr-ZTR .auto-group-ycwv-UaP {
  margin-bottom: 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-sspr-ZTR .auto-group-ycwv-UaP .majestic-tempe-7-2bu {
  margin-right: 6.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-sspr-ZTR .auto-group-ycwv-UaP .mi-wTy {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-sspr-ZTR .e-baseline-rd-tempe-az-85282-gRZ {
  margin-right: 9.2rem;
  max-width: 10.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-3iuq-P55 {
  box-sizing: border-box;
  padding: 1.9rem 1.5rem 2.3rem 2.4rem;
  width: 23.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272525;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-3iuq-P55 .auto-group-v4io-u3R {
  margin-bottom: 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-3iuq-P55 .auto-group-v4io-u3R .harkins-tempe-FNB {
  margin-right: 7.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-3iuq-P55 .auto-group-v4io-u3R .mi-zKm {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine1 .auto-group-3iuq-P55 .e-rio-salado-tempe-az-85282-wF1 {
  margin-right: 9.2rem;
  max-width: 10.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing .near-showing .cine2 {
  width: 100%;
  height: 9.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-feqr-aYs {
  margin-right: 5.5rem;
  box-sizing: border-box;
  padding: 1.8rem 1.2rem 2rem 2.5rem;
  width: 23.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272525;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-feqr-aYs .auto-group-rocx-JUs {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-feqr-aYs .auto-group-rocx-JUs .harkins-mills-rWP {
  margin-right: 9.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-feqr-aYs .auto-group-rocx-JUs .mi-zcb {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-feqr-aYs .arizona-mills-circle-tempe-az-85283-9Eb {
  margin-right: 6rem;
  max-width: 14.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-akrm-3as {
  margin-right: 5.4rem;
  box-sizing: border-box;
  padding: 1.8rem 1.5rem 1.9rem 2.3rem;
  width: 23.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272525;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-akrm-3as .auto-group-yu3m-Z3R {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-akrm-3as .auto-group-yu3m-Z3R .cinemark-mesa-16-7Kq {
  margin-right: 6.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-akrm-3as .auto-group-yu3m-Z3R .mi-3UP {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-akrm-3as .n-dobson-rd-tempe-az-85283-az7 {
  margin-right: 8.9rem;
  max-width: 11.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.eight{
  margin-left: 5.4rem;
}
.landing .near-showing .cine2 .auto-group-fprd-VbH {
  box-sizing: border-box;
  padding: 1.8rem 1.6rem 1.9rem 2.4rem;
  width: 23.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #272525;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-fprd-VbH .auto-group-ey3d-cA7 {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-fprd-VbH .auto-group-ey3d-cA7 .amc-ahwatukee-24-ASX {
  margin-right: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-fprd-VbH .auto-group-ey3d-cA7 .mi-WFV {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .near-showing .cine2 .auto-group-fprd-VbH .east-ray-rd-tempe-az-85283-TAj {
  margin-right: 9.5rem;
  max-width: 10.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #d4cdcd;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing .trailers {
  max-width: 1380px;
  width: 100%;
  height: 45rem;
  position: relative;
  flex-shrink: 0;
}
.container h3{
  font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    margin-top: 15px;
}
.landing .trailers .ellipse-12-fGo {
  width: 3.5rem;
  height: 3.2rem;
  position: absolute;
  left: 86.3rem;
  top: 18.9rem;
  object-fit: contain;
  vertical-align: top;
}
.landing .trailers .vector-bRM {
  width: 1.0694rem;
  height: 1.6825rem;
  position: absolute;
  left: 87.6rem;
  top: 19.7rem;
  object-fit: contain;
  vertical-align: top;
}
.landing .trailers .rectangle-22-vyR {
  width: 93.1rem;
  height: 49.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #272525;
}
.landing .trailers .watch-trailers-gBu {
  width: 12.7rem;
  height: 1.7rem;
  position: absolute;
  left: 11rem;
  top: 3.2rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #f36627;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing .trailers .rectangle-23-PMD {
  width: 53.1rem;
  height: 31rem;
  position: absolute;
  left: 10rem;
  top: 9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.col-xl-4{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover{
  max-width: 1380px;
  width: 100%;
  background-color: #696969;
  height: 56rem;
}
.float{
  max-width: 900px;
  width: 100%;
  height: 26rem;
  background-color: #272525;
  position: absolute;
  top: 2530px;
}
.in-float{
  max-width: 900px;
  border: #d9d9d9 2px solid;
  width: 100%;
  height: 26rem;
}
.in-float h1{
  position: relative;
  left: 35rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #f36627;
  font-family: Inter, 'Source Sans Pro';
}
.in-float p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    padding-left: 20px;
}
.in-float .learn{
  margin-left: 360px;
  margin-top: 30px;
}
.img-content{
  max-width: 1380px;
  width: 100%;
  background-color:#474141;
  height: 73rem;
}
.img-content h1{
  position: relative;
  left: 12rem;
  top: 25rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #f36627;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.img-content p{
  font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    padding-left: 118px;
    padding-top: 255px;
}
.img-content ul{
  margin-left: 165px;
  margin-top: 20px;
}
.img-content li{
  color: #ffffff;
  list-style-type: disc;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  font-family: Inter, 'Source Sans Pro';
}
.img-content img{
  padding-left: 80rem;
    position: relative;
    bottom: 33rem;
}
.landing .links {
  box-sizing: border-box;
  padding: 5%;
  width: 100%;
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-shrink: 0;
}
.grouped{
  margin: auto;
}
.links div{
  cursor: pointer;
}
.landing .links .auto-group-itxh-GNP {
  margin-bottom: 1.75rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .links .auto-group-itxh-GNP .experience-explore-1as {
  margin-right: 14rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-itxh-GNP .editorial-features-KrT {
  margin-right: 12.4rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-itxh-GNP .videos-etj {
  margin-right: 13.6rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-itxh-GNP .photos-xeX {
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-f8tk-JTV {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .links .auto-group-f8tk-JTV .movies-in-theatres-F7q {
  margin-right: 18.2rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-f8tk-JTV .awards-watch-kqH {
  margin-right: 17.8rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-f8tk-JTV .movie-trailers-HaK {
  margin-right: 10.9rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-f8tk-JTV .red-carpet-premieres-paF {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-oqxq-9sR {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .links .auto-group-oqxq-9sR .movie-actors-and-actresses-hP9 {
  margin-right: 13.5rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-oqxq-9sR .indie-movie-guide-2RR {
  margin-right: 15.9rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-oqxq-9sR .weekly-ticket-Yef {
  margin-right: 10.9rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-oqxq-9sR .february-celebrity-birthdays-H6T {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-xxfz-12T {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .links .auto-group-xxfz-12T .mobile-Z3y {
  margin-right: 24.6rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-xxfz-12T .family-guide-Hkf {
  margin-right: 18.5rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-xxfz-12T .moms-movie-minute-DeK {
  margin-right: 7.6rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-xxfz-12T .award-show-galleries-j6s {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-nrc3-ezX {
  margin: 0rem 48.8rem 1rem 0rem;
  width: calc(100% - 48.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .links .auto-group-nrc3-ezX .new-for-streaming-ymu {
  margin-right: 18.1rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-nrc3-ezX .house-of-screams-iUb {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-rbqx-3mm {
  margin-right: 52.1rem;
  width: calc(100% - 52.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing .links .auto-group-rbqx-3mm .special-offers-Q6X {
  margin-right: 20.7rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .links .auto-group-rbqx-3mm .movie-news-7md {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .footer {
  box-sizing: border-box;
  padding: 1.8rem 28.1rem 2rem 40.7rem;
  width: 100%;
  max-width: 1380px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing .footer .foot {
  margin-bottom: 1.8rem;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
    max-width: 450px;
  
}
.landing .footer .foot .refunds-exchanges-hjq {
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #f36627;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .footer .foot .auto-group-ovjd-EDy {
  box-sizing: border-box;
  padding-left: 0.5rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing .footer .foot .auto-group-ovjd-EDy .line-2-ZX9 {
  margin: 0.2rem 0.8rem 0rem 0rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #b8a9a9;
  flex-shrink: 0;
}
.landing .footer .foot .auto-group-ovjd-EDy .help-HT9 {
  margin-right: 0.6rem;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #f36627;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .footer .foot .auto-group-ovjd-EDy .line-3-cVR {
  margin: 0.2rem 0.8rem 0rem 0rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #b8a9a9;
  flex-shrink: 0;
}
.landing .footer .foot .auto-group-ovjd-EDy .my-account-9ET {
  margin-right: 0.6rem;
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #f36627;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .footer .foot .auto-group-ovjd-EDy .line-4-gVH {
  margin: 0.2rem 0.6rem 0rem 0rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #b8a9a9;
  flex-shrink: 0;
}
.landing .footer .foot .auto-group-ovjd-EDy .feedback-1nT {
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #f36627;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing .footer .auto-group-bn5q-kk3 {
  width: 18rem;
  height: 3.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #407fc1;
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-shrink: 0;
  cursor: pointer;
}
.landing .footer .auto-group-hjvh-PY7 {
  margin: 2rem 0;
  display: flex;
  flex-shrink: 0;
}
.grp{
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 85px;
    width: 100%;
}
.foot p{
  cursor: pointer;
}
.landing .footer .auto-group-hjvh-PY7 .vector-8Eo {
  margin-right: 0.3rem;
  width: 1.1rem;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing .footer .auto-group-hjvh-PY7 .fandango-eyq {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.container
{
	margin-top:100px;
}

.video-gallery
{
	position:relative;
}
.video-gallery a
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:block;
}
.video-gallery:hover a
{
	background-color:rgba(0,0,0,.5);
}
